.topBar {
  display: flex;
  align-items: center;
  padding: 4px 20px; }
  .topBar_city {
    font-size: 14px;
    color: #000; }
    .topBar_city::after {
      content: '';
      display: inline-block;
      margin-left: 6px;
      top: 10px;
      width: 0;
      height: 0;
      border-width: 4px;
      border-style: solid;
      border-color: #000 transparent transparent; }
  .topBar_search {
    flex: 1;
    margin: 0 14px;
    height: 28px;
    line-height: 28px;
    background-color: #f6f6f6;
    border-radius: 14px;
    padding-left: 20px; }
  .topBar_scan {
    width: 20px;
    height: 20px;
    background-image: url("../../../../icons/scan.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain; }
